<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     <header id="header">


        <div id="logo">
           <a href="index.html"> <img src="https://organicindia.com/cdn/shop/files/logo-120x120_2.jpg?v=1743768667" alt=""></a>
        </div>
        <div id="navbar">
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="">Home</a></li>
                    <li><a href="">Home</a></li>
                    <li><a href="">Home</a></li>
                    <li><a href="">Home</a></li>
                </ul>
            </nav>
        </div> <!--end of navbar-->
        <div id="login">
            <i class="fab fa-searchengin"></i>
            <a href="">login</a>
            <i class="fas fa-cart-plus"></i>
            <i class="fas fa-heart"></i>
        </div>
    </header> <!--end of header-->

     <main>
        <h1>This is About Page</h1>
     </main>
</body>
</html>